* {
    /* background-color: cornflowerblue; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: center;
}

.sidebar {
    background-color: cornflowerblue;
    color: white;
    grid-row: 1 / 3;

}

/* input[type="search"] {
    
} */

.header {

    grid-row: 1 / 2;
}

.main {
    grid-row: 2 / 3;
}
