* {
    /* background-color: cornflowerblue; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* text-align: center; */
}

.sidebar {
    background-color: cornflowerblue;
    color: white;
    grid-row: 1 / 3;
    padding: 25px;
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-rows: 100px 350px 200px;
}

.top,
.middle,
.bottom {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* justify-self: center; */
    /* justify-items: center; */
    align-items: center;
    /* text-align: center; */
}

.top {
    font-size: 1.5rem;
    font-weight: 600;
    
}

.top img {
    margin-right: 10px;
    margin-left: -15px;
}

input[type="search"] {
    width: 500px;
    height: 2rem;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: rgb(168, 196, 247);
    padding: 0 15px 0 15px;
}

.header {
    /* display: grid; */
    margin: 20px;
    grid-row: 1 / 2;
}

.header-top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

.top-left,
.top-right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.top-right {
    gap: 15px;
}

.top-left button{
    background-color: white;
    border: none;
    margin-right: 15px;
}

.header-bottom {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    margin: 25px 0;
}

.header-bottom > img {
    justify-self: right;
}

.greeting {
    justify-self: left;
}

.header-bottom button {
    font-size: 1.25rem;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
    background-color: cornflowerblue;
    color: white;
    border: none;
}

.header-bottom button:hover {
    background-color: blueviolet;
}

.header-bottom button:nth-child(odd) {
    justify-self: right;
}

.header-bottom button:last-child {
    justify-self: left;
}

.main {
    background-color: lightgray;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px repeat(2, 2.5fr) 50px;
    /* gap: 10px; */
}

.main > div > p {
    font-size: 1.5rem;
    align-self: self-end;
    font-weight: bold;
}

.projects {
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(3, 250px);
    gap: 15px;
    margin: 15px;
}

.projects > p {
    grid-column: 1 / 3;
    /* text-align: left; */
}

.card {
    background-color: white;
    border-radius: 15px;
    border-left: 10px solid orange;
    padding: 15px;
    display: grid;
}

.card > div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: self-end;
}

.announce {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 50px;
    margin: 15px;
    gap: 15px;
}

.announced {
    background-color: white;
    /* padding: 20px; */
    padding: 0 20px 0 20px;
    border-radius: 15px;
}

/* .announced div {
    padding: 20px;
} */

.announced div:not(:first-child) {
    border-top: 2px solid lightgray;
}

.announcement {
    padding: 20px;
}

.announcement div {
    font-weight: bold;
}

.trending {
    grid-row: 3;
    display: grid;
    grid-template-rows: 45px;
    margin: 15px;
    gap: 15px;
    /* margin-top: 45px; */
}

.trends {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
}

.trends > div {
    justify-self: left;
}

.user {
    font-weight: bold;
}
